
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Deneme</title>
</head>
<body>
    <div>
        <div> burası layout</div>
        @RenderBody()
        <!-- layoutun içerisinde sayfaları yüklerken bu sayfaları layoutun hangi kısmına yükleyecek? bu yüzden razor syntax kullanıyoruz ve bu html kısmında c# kodları kullanmak anlamına geliyor.-->
        </div>
    </body>
    </html>
